* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 100px;
  width: 100px;
  padding: 10px 0px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

/* home.js styles */
.home-address {
  color: red;
  font-weight: 600;
  font-size: 1.5rem;
}

/* menu.js styles */

.dishes {
  font-size: 1.5rem;
  list-style: none;
}

/* about.js styles */

.about-paragraph {
  max-width: 80%;
  font-size: 1.2rem;
}